/* ===👆自定义样式区域=== */
/* ===👇通用样式区域=== */
.pagination {
  text-align: center !important;
  margin-top: 20px !important;
}
.common-title {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 36px;
  display: inline-block;
  min-width: 120px;
  padding-right: 10px !important;
  text-align: left;
  border-bottom: 2px solid #1890FF;
}
.table-list-expandbox {
  width: 100%;
  overflow-x: auto;
}
.table-list-expandbox-item {
  width: 272px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #1890FF;
  display: inline-block;
  margin-right: 20px !important;
  line-height: 40px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.table-list-expandbox-item .el-form-item {
  margin-bottom: 0px !important;
}
.table-list .el-table__header-wrapper tr th {
  background: #fff !important;
}
.table-list .el-table__body-wrapper tbody tr td p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.table-list .el-table__body-wrapper tbody tr td p .el-button {
  margin-right: 10px !important;
}
.table-list .el-table__body-wrapper tbody tr td p .el-button + .el-button {
  margin-left: 0px !important;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.el-table {
  width: 99.9% !important;
}
.mainContainer {
  background-color: #eee;
}
.common_table_container {
  background-color: #fff;
}
#main_container {
  height: 100%;
}
#left_menu {
  background: #fff;
}
.el-menu-vertical-demo {
  border-right: 0px !important;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 100%;
  min-height: 400px;
}
.el-menu--popup .el-submenu__title {
  border-bottom: 0px !important;
}
.maxHeight400 {
  max-height: 400px !important;
  overflow-y: auto;
}
.height600 {
  height: 600px !important;
  max-height: 600px !important;
}
.height650 {
  height: 650px !important;
  max-height: 650px !important;
}
.headerToolbar {
  color: #fff;
  height: 60px;
  padding: 15px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.headerToolbar-icon {
  font-size: 22px;
}
.headerToolbar .currentUser {
  background: #ccc;
  border-radius: 50%;
  padding: 5px !important;
  margin-right: 5px !important;
}
.headerToolbar a {
  color: #fff;
  text-decoration: none;
}
.headerToolbar .noticeTips {
  position: absolute;
  display: block;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  top: -5px;
  right: -15px;
  background: #ff0000;
  font-size: 12px;
  border-radius: 50%;
}
.logo {
  width: 100%;
  background-color: #336CDE;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bolder;
}
.user-icon {
  padding-top: 10px;
  float: left;
}
.logout-box {
  padding-top: 15px;
  padding-left: 25px;
}
.logout {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.el-header {
  border-bottom: 1px solid #CACACA;
  background-color: #336CDE;
  height: 62px !important;
}
.topMenu {
  background-color: #336CDE !important;
  border: 0px !important;
}
.topMenu > .el-submenu > .el-submenu__title > i {
  color: #fff;
}
.topMenu > .el-submenu > .el-menu--horizontal > .el-menu--popup > .el-submenu > .el-submenu__title > i {
  color: #fff;
}
.topMenu > .el-submenu > .el-menu--horizontal > .el-menu--popup > .el-menu-item > i {
  color: #fff;
}
.topMenu > .el-submenu > .el-menu--horizontal > .el-menu--popup > .el-submenu > .el-menu--horizontal > .el-menu--popup > .el-menu-item > i {
  color: #fff;
}
.head-row {
  height: 100%;
}
.logo-box {
  padding-top: 17px;
  text-align: center;
}
.toggle {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  line-height: 30px;
}
.is_toggle {
  width: 50px !important;
}
.bread {
  margin-bottom: 10px;
}
.left {
  float: left;
}
.main-view {
  height: calc(100% - 30px);
}
.defCountCss {
  width: 500px;
  height: 500px;
}
.defTableCss {
  width: 50%;
}
.indexcarousel {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
}
.barCount {
  width: 1000px;
  height: 500px;
}
.el-menu-vertical-demo > li > .el-submenu__title {
  font-size: 16px;
  font-weight: 400;
  color: #3d4966;
}
.el-menu-vertical-demo > li > .el-submenu__title:hover {
  border-left: 4px solid #3377FF !important;
  background-color: #F7F9FC !important;
  color: #3377FF !important;
}
.el-menu-vertical-demo > .el-submenu > .el-menu > .is-active {
  border-left: 4px solid #3377FF !important;
  background-color: #F7F9FC !important;
  color: #3377FF !important;
}
.leftMenuMenu {
  font-size: 14px;
  font-weight: 400;
  color: #3d4966;
}
.leftMenuMenu:hover {
  border-left: 4px solid #3377FF !important;
  background-color: #F7F9FC !important;
  color: #3377FF !important;
}
.defFirstCss {
  width: 70%;
  height: 590px;
  background: #fff;
  box-shadow: 0px 1px 6px 2px rgba(123, 123, 123, 0.5);
  float: left;
}
.defFirstCss_header {
  border-bottom: 1px solid #D3DBEB;
}
.defFirstCss_header span {
  font-size: 1.17em;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
}
.defSecondCss {
  width: 28%;
  float: left;
  margin-left: 20px;
  height: 576px;
}
.defSecondCssDivF {
  width: 100%;
  height: 296px;
  background: #fff;
  box-shadow: 0px 1px 6px 2px rgba(123, 123, 123, 0.5);
}
.defSecondCssDivS {
  width: 100%;
  margin-top: 20px;
  height: 276px;
  background: #fff;
  box-shadow: 0px 1px 6px 2px rgba(123, 123, 123, 0.5);
}
.defMainWith70pCss {
  width: 70%;
  height: 500px;
  background: #fff;
  box-shadow: 0px 1px 6px 2px rgba(123, 123, 123, 0.5);
  float: left;
  margin-top: 20px;
}
.defMainWith28pCss {
  width: 28%;
  height: 500px;
  background: #fff;
  box-shadow: 0px 1px 6px 2px rgba(123, 123, 123, 0.5);
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
.fontMainBlack > .el-input__inner {
  color: #000 !important;
}
.fontMainBlack > .el-input > .el-input__inner {
  color: #000 !important;
}
.fontMainBlack > .el-radio-button__inner {
  color: #000 !important;
}
.activeTd {
  background: #F5F7FA !important;
}
.activefont {
  color: #409eff !important;
}
#nprogress .bar {
  background: #ffd04b !important;
}
.contentLeftLayout {
  width: 20%;
  float: left;
  height: 100%;
}
.contentRightLayout {
  margin-left: 10px;
  width: 78%;
  float: left;
  height: 100%;
}
.tool-bar {
  text-align: right;
  background-color: #eee;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
/*新建粮食计划样式*/
.plan_btn:focus {
  background-color: #409EFF !important;
  color: white !important;
}
.dialog_input {
  width: 250px !important;
}
.plan_from {
  max-height: 300px;
  margin-bottom: 15px;
  overflow-y: auto;
}
.step_btn {
  float: right;
  margin-right: 15px!important;
}
.mg_right {
  margin-right: 12px;
}
.dis_map_container {
  height: 450px;
  background-color: #409EFF;
}
.dialog_area .el-dialog__header {
  text-align: center;
}
.dialog_area_container {
  height: 580px;
  overflow-y: auto;
}
.dialog_sampler_container {
  height: 650px;
  overflow-y: auto;
}
.sampler_table {
  height: 445px;
}
/*新建粮食计划样式*/
.full-screen-dialog-root {
  height: 740px;
  overflow-y: auto;
}
.tool-bar-float-right {
  text-align: right;
  float: right;
}
.standar_tabs {
  background-color: white;
}
.table-tabs {
  padding: 0 15px;
}
.tab_panel {
  height: 680px;
  overflow-y: auto;
}
.common_page {
  width: 100%;
  height: calc(100% - 25px);
}
.common_page_top {
  margin-bottom: 15px !important;
  background-color: #fff;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.header-icon {
  margin-left: 10px !important;
  vertical-align: mathematical;
}
.panel_tit {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 5px;
}
.sub-tit {
  font-size: 14px;
}
.diy_el_divider {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.search_label {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.fir_label {
  margin-left: 0px !important;
}
.search_btn {
  margin-left: 10px !important;
}
.block {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: center !important;
}
.search_input {
  width: 15%;
}
.search_date {
  width: 39% !important;
}
.layout-manage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.layout-manage-container {
  overflow-y: auto;
}
.layout-manage-container-aside {
  background: #fff;
}
.layout-manage-container-box {
  padding: 24px !important;
  height: 100%;
  background: #F0F2F5;
  box-sizing: border-box;
}
.layout-manage-container-box .tab-container .el-tabs__header {
  margin-bottom: 0px !important;
}
.layout-manage-container-box .tab-container .el-tabs__header .el-tabs__nav {
  background: #fff;
}
.layout-manage-container-box .table-container {
  background: #fff;
  padding: 20px !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
p,
ul {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.positionAbs {
  position: absolute;
}
.positionRel {
  position: relative;
}
.positionFix {
  position: fixed;
}
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}
.displayInlineBlock {
  display: inline-block;
}
.displayInline {
  display: inline;
}
.vAlignTop {
  vertical-align: top;
}
.vAlignMid {
  vertical-align: middle;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.textAlignLeft {
  text-align: left !important;
}
.textAlignRight {
  text-align: right !important;
}
.textAlignCenter {
  text-align: center !important;
}
.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.borderNone {
  border: 0 !important;
}
.text-warning {
  color: #e6a23c;
}
.text-danger {
  color: #f56c6c;
}
.text-success {
  color: #67c23a;
}
.text-primary {
  color: #409eff;
}
.text-white {
  color: #fff;
}
.cursor {
  cursor: pointer;
}
.link {
  color: #fff;
  text-decoration: none;
}
.width100 {
  width: 100% !important;
}
.textColorLightBlue {
  color: #1890FF;
}
.mgAuto {
  margin: auto;
}
.bgfff {
  background-color: #fff !important;
}
.bgeee {
  background-color: #eee !important;
}
.bge6a23c {
  background-color: #e6a23c !important;
}
.borderR1 {
  border-radius: 1px !important;
}
.borderR2 {
  border-radius: 2px !important;
}
.borderR3 {
  border-radius: 3px !important;
}
.borderR4 {
  border-radius: 4px !important;
}
.borderR5 {
  border-radius: 5px !important;
}
.borderR10 {
  border-radius: 10px !important;
}
.borderR20 {
  border-radius: 20px !important;
}
.borderR30 {
  border-radius: 30px !important;
}
.borderR50 {
  border-radius: 50px !important;
}
.lheight20 {
  line-height: 20px !important;
}
.lheight30 {
  line-height: 30px !important;
}
.lheight40 {
  line-height: 40px !important;
}
.lheight60 {
  line-height: 60px !important;
}
.fontSize20 {
  font-size: 20px !important;
}
.fontSize30 {
  font-size: 30px !important;
}
.fontSize40 {
  font-size: 40px !important;
}
.fontSize60 {
  font-size: 60px !important;
}
.pd0 {
  padding: 0px !important;
}
.pd3 {
  padding: 3px !important;
}
.pd5 {
  padding: 5px !important;
}
.pd6 {
  padding: 6px !important;
}
.pd10 {
  padding: 10px !important;
}
.pd14 {
  padding: 14px !important;
}
.pd15 {
  padding: 15px !important;
}
.pd20 {
  padding: 20px !important;
}
.pd24 {
  padding: 24px !important;
}
.pd25 {
  padding: 25px !important;
}
.pd28 {
  padding: 28px !important;
}
.pd30 {
  padding: 30px !important;
}
.pd40 {
  padding: 40px !important;
}
.pd50 {
  padding: 50px !important;
}
.pd60 {
  padding: 60px !important;
}
.pd100 {
  padding: 100px !important;
}
.pd110 {
  padding: 110px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pl3 {
  padding-left: 3px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl6 {
  padding-left: 6px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl14 {
  padding-left: 14px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl24 {
  padding-left: 24px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl28 {
  padding-left: 28px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl100 {
  padding-left: 100px !important;
}
.pl110 {
  padding-left: 110px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pr3 {
  padding-right: 3px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr6 {
  padding-right: 6px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr14 {
  padding-right: 14px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr24 {
  padding-right: 24px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr28 {
  padding-right: 28px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pr60 {
  padding-right: 60px !important;
}
.pr100 {
  padding-right: 100px !important;
}
.pr110 {
  padding-right: 110px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt6 {
  padding-top: 6px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt14 {
  padding-top: 14px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt24 {
  padding-top: 24px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt28 {
  padding-top: 28px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pt100 {
  padding-top: 100px !important;
}
.pt110 {
  padding-top: 110px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb6 {
  padding-bottom: 6px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb14 {
  padding-bottom: 14px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb24 {
  padding-bottom: 24px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb28 {
  padding-bottom: 28px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
.pb110 {
  padding-bottom: 110px !important;
}
.mg0 {
  margin: 0px !important;
}
.mg3 {
  margin: 3px !important;
}
.mg5 {
  margin: 5px !important;
}
.mg6 {
  margin: 6px !important;
}
.mg10 {
  margin: 10px !important;
}
.mg14 {
  margin: 14px !important;
}
.mg15 {
  margin: 15px !important;
}
.mg20 {
  margin: 20px !important;
}
.mg24 {
  margin: 24px !important;
}
.mg25 {
  margin: 25px !important;
}
.mg28 {
  margin: 28px !important;
}
.mg30 {
  margin: 30px !important;
}
.mg40 {
  margin: 40px !important;
}
.mg50 {
  margin: 50px !important;
}
.mg60 {
  margin: 60px !important;
}
.mg100 {
  margin: 100px !important;
}
.mg110 {
  margin: 110px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml6 {
  margin-left: 6px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml14 {
  margin-left: 14px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml24 {
  margin-left: 24px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml28 {
  margin-left: 28px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml100 {
  margin-left: 100px !important;
}
.ml110 {
  margin-left: 110px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mr3 {
  margin-right: 3px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr6 {
  margin-right: 6px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr14 {
  margin-right: 14px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr24 {
  margin-right: 24px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr28 {
  margin-right: 28px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mr100 {
  margin-right: 100px !important;
}
.mr110 {
  margin-right: 110px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt6 {
  margin-top: 6px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt14 {
  margin-top: 14px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt24 {
  margin-top: 24px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt28 {
  margin-top: 28px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mt110 {
  margin-top: 110px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb6 {
  margin-bottom: 6px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb14 {
  margin-bottom: 14px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb24 {
  margin-bottom: 24px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb28 {
  margin-bottom: 28px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.mb110 {
  margin-bottom: 110px !important;
}
